BasedOnStyle: LLVM
IndentWidth: 4
AlignAfterOpenBracket: BlockIndent
BreakBeforeBraces: Attach
BinPackArguments: false
NamespaceIndentation: All
ColumnLimit: 140
BreakTemplateDeclarations: Yes
AllowShortCaseExpressionOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: false
AccessModifierOffset: -4
AlignConsecutiveShortCaseStatements:
  Enabled: true

IndentCaseLabels: false
SortIncludes: false
